<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h1>Request counter - simple</h1>
    <p><a href="/request-counter">GET-Request link</a></p>
    <form action="/request-counter" method="post">
        <label for="counter-input">Insert:</label>
        <textarea id="counter-input" name="counter" required></textarea><br>
        <button type="submit">Send</button>
    </form>
    <p><a href="/statistics">Statistics</a></p>
</body>
</html>