<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics Table</title>
</head>
<body>
    <h1>Statistics</h1>
    <table>
        <tr>
            <th>Method</th>
            <th>Count</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>{{ gets }}</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>{{ posts }}</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>{{ puts }}</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>{{ deletes }}</td>
        </tr>
    </table>
</body>
</html>